<!--templates directory and this file is manually created-->
{% block categorydisplay %}
{% load static %}

<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">


<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>{% for product in productsfilter %}
        {{ product.subcategory }}
        {% endfor %}</title>


    <!--navbar start-->

<nav class= "navbar navbar-expand-lg bg-transparent navbar-light navbar-airy bg-fixed-white" style="margin: 0;">
<div class="container-fluid">
   <a class="navbar-brand" href="http://weddpparels.com/"><img class="img-fluid" src="{% static '/media/sitelogo.png' %}" ></a>

<!--  <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--  <a class="navbar-brand" href="#">-->
<!--    <img src="https://weddpparel.s3.ap-south-1.amazonaws.com/8148810110_9990a7d4-7408-4e5e-8c1c-318c8de46c82.png" alt="Logo">-->
<!--  </a>-->

   <!--span/breadcrumb in mobile view Start-->
<style>
  .centered-button {
    margin: 10px;
    margin-left: -2px;
  }
  .navbar-toggler {
  }
</style>

<div class="centered-button">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</div>
<!--span/breadcrumb in mobile view END-->
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
<!--      <li class="nav-item active">-->
<!--        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">Link</a>-->
<!--      </li>-->

      <!--li of men below-->

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownmen" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: brown;">
          Men
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdmen" style="background-color:#F8F0E3;background-image: linear-gradient(to right,#f8c3a3, #ffefc1, #f8c3a3);">
          <a class="dropdown-item" href="http://weddpparels.com/shop/categorydisplay/Sherwani" style="color: brown;">Sherwani</a>
          <a class="dropdown-item" href="http://weddpparels.com/shop/categorydisplay/Jackets" style="color: brown;">Jackets</a>
<!--          <div class="dropdown-divider"></div>-->
          <a class="dropdown-item" href="http://weddpparels.com/shop/categorydisplay/ReceptionOutfits" style="color: brown;">Reception Outfits</a>
        </div>
      </li>
      &nbsp;&nbsp;&nbsp;&nbsp;

      <!--li of women below-->

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownwomen" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: brown;">
          Women
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownwomen" style="background-color:#F8F0E3;background-image: linear-gradient(to right,#f8c3a3, #ffefc1, #f8c3a3);">
          <a class="dropdown-item" href="http://weddpparels.com/shop/categorydisplay/BridalLehenga" style="color: brown;">Bridal Lehenga</a>
          <a class="dropdown-item" href="http://weddpparels.com/shop/categorydisplay/Gown" style="color: brown;">Gown</a>
<!--          <div class="dropdown-divider"></div>-->
          <a class="dropdown-item" href="http://weddpparels.com/shop/categorydisplay/Saree" style="color: brown;">Saree</a>


        </div>
      </li>
     &nbsp;&nbsp;&nbsp;&nbsp;

      <!--li of Accessories below-->

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownacc" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: brown;">
          Accessories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownacc" style="background-color:#F8F0E3;background-image: linear-gradient(to right,#f8c3a3, #ffefc1, #f8c3a3);">
          <a class="dropdown-item" href="http://weddpparels.com/shop/categorydisplay/JewelleryWomen" style="color: brown;">Jewellery Women</a>
          <a class="dropdown-item" href="http://weddpparels.com/shop/categorydisplay/JewelleryMen" style="color: brown;">Jewellery Men</a>
            <div class="dropdown-divider"></div>
          <a class="dropdown-item " href="http://weddpparels.com/shop/categorydisplay/Pagdi" style="color: brown;">Safa/Pagdi</a>
<!--          <a class="dropdown-item" href="http://localhost:8000/shop/categorydisplay/Mala" style="color: brown;">Mala</a>-->
          <a class="dropdown-item" href="http://weddpparels.com/shop/categorydisplay/FootwearMen" style="color: brown;">Footwear Men</a>



        </div>
      </li>

    </ul>

<br>

<!-- Login/Logout using Google start-->


{% load socialaccount %}

<html>
<body>
{% if user.is_authenticated %}
  <h6 class="text-info">Hi! {{ user.username }}</h6> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{% else %}
  <a href="{% provider_login_url 'google'%}?next=/shop/" class="btn btn-outline-dark btn-sm" >
    <img width="16px" style="margin-bottom:3px; margin-right:5px" alt="Google login" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
    Login

  </a> &nbsp;
{% endif %}

<a href="http://weddpparels.com/accounts/logout/" class="btn btn-outline-dark btn-sm">Logout</a>

</body>
</html>


 </div>
</nav>


<!--below is the CDN scripts for slick for displaying slider in products-->
 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>



</head>

<body>



 <style>
		body {
			background-color: #F8F0E3;
			background-image: linear-gradient(to right,#f8c3a3, #ffefc1, #f8c3a3); padding: 0px;
		}
 </style>

<br>

<!-- banner start-->
<div style="background-image: linear-gradient(to right,#f8c3a3, #ffefc1, #f8c3a3); text-align: center; padding: 10px;">
    <h2 style="font-size: 48px; font-weight: bold; margin: 0; color: maroon; letter-spacing: 3px; text-shadow: 1px 1px 2px #ccc;">
        {% for product in productsfilter %}
        {{ product.subcategory }}
        {% endfor %}
    </h2>
    <hr style="border: none; border-top: 2px solid maroon; height: 2px; margin: 30px auto; max-width: 50px;">
    <p style="color: black; font-size: 16px; line-height: 1.5; font-family: 'Open Sans', sans-serif;">
        Discover the ultimate in luxury with our exclusive collection. Each piece is a masterpiece of elegance and sophistication.
   <br><br>
    </p>

</div>



<div style="background-image: linear-gradient(to right,#f8c3a3, #ffefc1, #f8c3a3); text-align: right; padding: 5px;">
        <a href="http://weddpparels.com/shop/sizechart" style="color:maroon;">Size Chart</a>
</div>

<!--banner END-->

<style>
  @import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');
</style>


<!--Products from Database in form of cards >> start below :-->

<div class="container-fluid embed-responsive" style="background-color: maroon;

background-image:
repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
background-size: 70px 120px; max-width: 100%;">


<div class="row">
  <link href="{% static 'css/style.css'%}" rel="stylesheet">
{% for product in products %}
  <div class="col-md-3 my-3">
    <div class="card1">

        <div class="slider">
            <div><img class="card-img-top" style="height:380px;" src="/media/{{ product.image }}" alt="{{ product.name }}"></div>
            <div><img class="card-img" style="height:380px;" src="/media/{{ product.backimage }}" alt="{{ product.name }}"></div>
            <div><img class="card-img" style="height:380px;" src="/media/{{ product.sideimage }}" alt="{{ product.name }}"></div>
        </div>


<!--      <img class="card-img-top" style="height:380px;" src="/media/{{ product.image }}" alt="{{ product.name }}">-->
      <div class="card-body" style="color: #F8F0E3;">
        <h5 class="card-title">{{ product.product_name }}</h5>
        <p class="card-text" >Size : {{ product.size }} </p>
        <p class="card-text" >Date of Purchase : {{ product.purchase_date }} </p>
        <p class="card-text">Price : ₹ {{ product.price }}</p>
        <p> <a  href="{{ product.url }}">Compare with New</a></p>
<!--in below anchor tag, href url is concatenated with product_name of products using #{{product.product_name}}-->
        <a href="http://weddpparels.com/shop/sendpurchaseenquiry/#{{ product.product_name }}" id="{{ product.product_name }}" class="btn" style="color: maroon ;background-image: linear-gradient(to right,#f8c3a3, #ffefc1, #f8c3a3); padding: 6px; background-color:#F6BE00 ; position: absolute;">Send Purchase Enquiry</a>
        <input id="sendpurchaseenquiry" type="hidden" name="sendpurchaseenquiryy_product_name" value="{{ product.product_name }}" class="sendpurchaseenquiryy-product-name">
      </div>
    </div>
  </div>
{% endfor %}
</div>
</div>



<script>
  $('.slider').slick({
     autoplay: false,
    autoplaySpeed: 4000,
    dots: false,
    arrows: true,
  });
</script>

<style>
  .slider .slick-prev {
    left: 10px;
  }
  .slider .slick-next {
    right: 10px;
  }
</style>



 <!--Products from Database in form of cards >> END -->

 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>




</body>



  <!--footer start-->
<footer

          class="text-left text-lg-start text-white"
          style="background-color: black"
          >

    <!-- Grid container -->
    <div class="container-fluid p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              Weddpparels
            </h6>
            <p>
              We offer C2C business. We enable customers to Buy/Sell branded, used apparels and accessories on our platform.
            </p>
          </div>

          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold"> Contact </h6>
            <p><i class="fas fa-home mr-0"></i> Delhi 110032, IN </p>
            <p><i class="fas fa-envelope mr-0"></i> shivamsxn458@gmail.com </p>
            <p><i class="fas fa-phone mr-0"></i> (+91) 9267950239 </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold"> Follow us </h6>

            <!-- Facebook -->
<!--             <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #3b5998"
               href="#!"
               role="button"
               ><i class="fab fa-facebook-f"></i
              ></a> -->

            <!-- Twitter -->
<!--             <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #55acee"
               href="#!"
               role="button"
               ><i class="fab fa-twitter"></i
              ></a> -->

            <!-- Google -->
<!--            <a-->
<!--               class="btn btn-primary btn-floating m-1"-->
<!--               style="background-color: #dd4b39"-->
<!--               href="#!"-->
<!--               role="button"-->
<!--               ><i class="fab fa-google"></i-->
<!--              ></a> -->

            Instagram
            <a

               class="btn btn-primary btn-floatin m-1"
               style="background-color: #d62976 "
               href="#!"
               role="button"
               ><i class="fab fa-instagram"></i></a>
  <br><br>
            Linkedin
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #0082ca"
               href="https://www.linkedin.com/in/shivam-saxena-b939641a0/"
               role="button"
               ><i class="fab fa-linkedin-in"></i
              ></a>

        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >

      <a class="text-white" href="https://weddpparels.com/"
         >This site is made and managed by Technical team of Weddpparels</a>

    </div>
    </div>

<!-- social media buttons-->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

 </footer>

</html>

{% endblock %}






