
{% load static %}

<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Buy or Sell Wedding Clothes</title>




<!--below is the CDN scripts for slick for displaying slider in products-->
 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

</head>

<body>

 <style>
		body {
			background-color: #F8F0E3;
			background-image: linear-gradient(to right,#f8c3a3, #ffefc1, #f8c3a3);
		}
 </style>
<nav class= "navbar navbar-expand-lg bg-transparent navbar-light navbar-airy bg-fixed-white" style="margin: 0;">
<div class="container-fluid" style="margin: 15px;">
   <a class="navbar-brand" href="http://weddpparels.in/shop"><img class="img-fluid" src="{% static '/media/sitelogo.png' %}" ></a>
	
<style>
  .centered-button {
    margin: 10px;
    margin-left: -2px;
  }
  .navbar-toggler {
   background-color: transparent;
   border: none;
   cursor: pointer;
   padding: 2px;
  }
</style>

<div class="centered-button">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</div>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownmen" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: brown;">
          Men
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdmen" style="background-color:#F8F0E3;background-image: linear-gradient(to right,#f8c3a3, #ffefc1, #f8c3a3);">
          <a class="dropdown-item" href="http://weddpparels.in/shop/categorydisplay/Sherwani" style="color: brown;">Sherwani</a>
          <a class="dropdown-item" href="http://weddpparels.in/shop/categorydisplay/Jackets" style="color: brown;">Jackets</a>
          <a class="dropdown-item" href="http://weddpparels.in/shop/categorydisplay/ReceptionOutfits" style="color: brown;">Reception Outfits</a>
        </div>
      </li>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownwomen" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: brown;">
          Women
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownwomen" style="background-color:#F8F0E3;background-image: linear-gradient(to right,#f8c3a3, #ffefc1, #f8c3a3);">
          <a class="dropdown-item" href="http://weddpparels.in/shop/categorydisplay/BridalLehenga" style="color: brown;">Bridal Lehenga</a>
          <a class="dropdown-item" href="http://weddpparels.in/shop/categorydisplay/Gown" style="color: brown;">Gown</a>
          <a class="dropdown-item" href="http://weddpparels.in/shop/categorydisplay/Saree" style="color: brown;">Saree</a>
        </div>
      </li>
     &nbsp;&nbsp;&nbsp;&nbsp;
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownacc" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: brown;">
          Accessories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownacc" style="background-color:#F8F0E3;background-image: linear-gradient(to right,#f8c3a3, #ffefc1, #f8c3a3);">
          <a class="dropdown-item" href="http://weddpparels.in/shop/categorydisplay/JewelleryWomen" style="color: brown;">Jewellery Women</a>
          <a class="dropdown-item" href="http://weddpparels.in/shop/categorydisplay/JewelleryMen" style="color: brown;">Jewellery Men</a>
            <div class="dropdown-divider"></div>
          <a class="dropdown-item " href="http://weddpparels.in/shop/categorydisplay/Pagdi" style="color: brown;">Safa/Pagdi</a>
<!--          <a class="dropdown-item" href="http://localhost:8000/shop/categorydisplay/Mala" style="color: brown;">Mala</a>-->
          <a class="dropdown-item" href="http://weddpparels.in/shop/categorydisplay/FootwearMen" style="color: brown;">Footwear Men</a>
        </div>
      </li>
    </ul>
<br>
<div>
{% load socialaccount %}
{% if user.is_authenticated %}
  <h6 style="color: green;" > Hi! {{ user.username }}</h6>
{% else %}
  <a href="{% provider_login_url 'google'%}?next=/shop/" style="background:maroon;" class="btn btn-dark btn-sm" >
    <img width="16px" style="margin-bottom:3px; margin-right:5px" alt="Google login" src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_%22G%22_logo.svg" />
    Sign in

  </a>
{% endif %}
<a href="http://weddpparels.in/accounts/logout/" style="background:maroon;" class="btn btn-dark btn-sm">Logout</a>
<!-- Login/Logout using Google END-->


<!-- Profile button Start-->
{% if user.is_authenticated %}
<a href="http://weddpparels.in/shop/profile" style="background:maroon;" class="btn btn-dark btn-sm" >
    <img height="16px" style="margin-bottom:3px; margin-right:5px" alt="" src="{% static '/media/profile.svg' %}" type="image">
    My Profile </a>
    {% endif %}
</div>
</div>
</nav>
<div class="embed-responsive embed-responsive-16by9">
  <video class="embed-responsive-item video-fluid z-depth-1"  autoplay loop muted >
    <source src="{% static '/media/homepagemain.mp4' %}" type="video/mp4">
  </video>
</div>

  <!--CaraouselSlides Start-->

  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" >
    <link href="{% static 'css/style.css'%}" rel="stylesheet" >
    <div class="carousel-inner">
      <div class="carousel-item">
        <div class="cards-wrapper">
        <div class="card">
          <img src="{% static '/media/bride2.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="color: #F8F0E3;">Wedding Lehenga</h5>
<!--            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--            <a href="#" class="btn btn-primary">Go somewhere</a>-->
          </div>
        </div>
        <div class="card d-md-block">
          <img src="{% static "/media/Reception.jpg" %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="color: #F8F0E3">Suits & Gowns</h5>
<!--            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--            <a href="#" class="btn btn-primary">Go somewhere</a>-->
          </div>
        </div>
        <div class="card  d-md-block">
          <img src="{% static '/media/bride1.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="color: #F8F0E3">Lehenga</h5>
<!--            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--            <a href="#" class="btn btn-primary">Go somewhere</a>-->
          </div>
        </div>
      </div>
      </div>
      <div class="carousel-item active">
        <div class="cards-wrapper">
          <div class="card">
            <img src="{% static "/media/haldi.jpg" %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title" style="color: #F8F0E3">Haldi outfits</h5>
<!--              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--              <a href="#" class="btn btn-primary">Go somewhere</a>-->
            </div>
          </div>
          <div class="card  d-md-block">
            <img src="{% static "/media/mehendi.jpg" %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title" style="color: #F8F0E3">Mehendi outfits</h5>
<!--              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--              <a href="#" class="btn btn-primary">Go somewhere</a>-->
            </div>
          </div>
          <div class="card d-md-block">
            <img src="{% static "/media/Reception.jpg" %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title" style="color: #F8F0E3">Reception outfits</h5>
<!--              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--              <a href="#" class="btn btn-primary">Go somewhere</a>-->
            </div>
          </div>
        </div>
      </div>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!--CaraouselSlides END-->

<!--  <div class="embed-responsive">
<img src="{% static '/media/logobody1.png' %}" style="width:100%">
</div> -->

<!-- Banner Start	 -->
	
<div style="background-image: linear-gradient(to right,#f8c3a3, #ffefc1, #f8c3a3); text-align: center; padding: 10px;">
    <h2 style="font-size: 48px; font-weight: bold; margin: 0; color: maroon; letter-spacing: 3px; text-shadow: 1px 1px 2px #ccc;">
        Exclusive collection for you
    </h2>
    <hr style="border: none; border-top: 2px solid maroon; height: 2px; margin: 30px auto; max-width: 50px;">
    <p style="color: black; font-size: 16px; line-height: 1.5; font-family: 'Open Sans', sans-serif;">
        Discover the ultimate in luxury with our exclusive collection. Each piece is a masterpiece of elegance and sophistication.
   <br><br>
    </p>

</div>	

<!-- Banner end -->
	
<div class="container-fluid embed-responsive" style="background-color: maroon;
background-image:
repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
background-size: 70px 120px; max-width: 100%;">
<div class="row">
  <link href="{% static 'css/style.css'%}" rel="stylesheet">
{% for product in products %}
  <div class="col-md-3 my-3">
    <div class="card1">
        <div class="slider">
            <div><img class="card-img-top" style="height:380px;" src="/media/{{ product.image }}" alt="{{ product.name }}"></div>
            <div><img class="card-img" style="height:380px;" src="/media/{{ product.backimage }}" alt="{{ product.name }}"></div>
            <div><img class="card-img" style="height:380px;" src="/media/{{ product.sideimage }}" alt="{{ product.name }}"></div>
        </div>
      <div class="card-body" style="color: #F8F0E3;">
        <h5 class="card-title">{{ product.product_name }}</h5>
        <p class="card-text" >Size : {{ product.size }} </p>
        <p class="card-text" >Date of Purchase : {{ product.purchase_date }} </p>
        <p class="card-text">Price : ₹ {{ product.price }}</p>
        <p> <a  href="{{ product.url }}">Compare with New</a></p>
<!--in below anchor tag, href url is concatenated with product_name of products using #{{product.product_name}}-->
        <a href="http://weddpparels.in/shop/sendpurchaseenquiry/#{{ product.product_name }}" id="{{ product.product_name }}" class="btn" style="color: maroon ;background-image: linear-gradient(to right,#f8c3a3, #ffefc1, #f8c3a3); padding: 6px; background-color:#F6BE00 ; position: absolute; bottom: 20px; left: 20px;">Send Purchase Enquiry</a>
        <input id="sendpurchaseenquiry" type="hidden" name="sendpurchaseenquiryy_product_name" value="{{ product.product_name }}" class="sendpurchaseenquiryy-product-name">
      </div>
    </div>
  </div>
{% endfor %}
</div>
</div>
<script>
  $('.slider').slick({
     autoplay: false,
    autoplaySpeed: 4000,
    dots: false,
    arrows: true,
  });
</script>

<style>
  .slider .slick-prev {
    left: 10px;
  }
  .slider .slick-next {
    right: 10px;
  }
</style>
<div class="container-fluid embed-responsive"; style="background-image: linear-gradient(to right,#f8c3a3, #ffefc1, #f8c3a3); text-align: center; padding: 60px;">
    <h2 style="font-size: 38px; font-weight:; margin: 0; color: maroon; letter-spacing: 3px; text-shadow: 1px 1px 2px #ccc;">
        Shaadi hogayi? Now looking to sell your Wedding Suit, Lehenga or Sherwani?
    </h2> <br>
    <h2 style="font-size: 24px; font-weight:; margin: 0; color: maroon; letter-spacing: 3px; text-shadow: 1px 1px 2px #ccc;">
       Sell your Wedding, Reception, Mehendi Apparels, all Accessories here at few clicks.
    </h2>
    <hr style="border: none; border-top: 2px solid maroon; height: 2px; margin: 30px auto; max-width: 50px;">
    <p style="color: black; font-size: 16px; line-height: 1.5; font-family: 'Open Sans', sans-serif;">
        We will connect you with best buyers. Send us your enquiry & we will get back to you.
      Note: Your Apparels or accessories should be of any known brand like Manyavar, Louis Phillipe, Titan etc and should not be older than 18 months from the date of purchase.
  </p>
    <a href="http://weddpparels.in/shop/Sellenquiry" style="text-decoration: none;">
  <button style="background-color: maroon; color: white; padding: 10px 20px; border-radius: 5px; font-size: 20px; font-weight: bold; border: none; margin-top: 30px;">Sell Now</button>
  </a>
</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
<footer
          class="text-left text-lg-start text-white"
          style="background-color: black"
          >
    <div class="container-fluid p-4 pb-0">
      <section class="">
        <div class="row">
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              Weddpparels
            </h6>
            <p>
              We offer C2C business. We enable customers to Buy/Sell branded, used apparels and accessories on our platform.
            </p>
          </div>
          <hr class="w-100 clearfix d-md-none" />
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold"> Contact </h6>
            <p><i class="fas fa-home mr-0"></i> Delhi 110032, IN </p>
            <p><i class="fas fa-envelope mr-0"></i> shivamsxn458@gmail.com </p>
            <p><i class="fas fa-phone mr-0"></i> (+91) 9267950239 </p>
          </div>
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold"> Follow us </h6>

            <!-- Facebook -->
<!--             <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #3b5998"
               href="#!"
               role="button"
               ><i class="fab fa-facebook-f"></i
              ></a> -->

            <!-- Twitter -->
<!--             <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #55acee"
               href="#!"
               role="button"
               ><i class="fab fa-twitter"></i
              ></a> -->

            <!-- Google -->
<!--             <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #dd4b39"
               href="#!"
               role="button"
               ><i class="fab fa-google"></i
              ></a> -->

            Instagram
            <a

               class="btn btn-primary btn-floatin m-1"
               style="background-color: #d62976 "
               href="https://www.instagram.com/weddpparelscompany/"
               role="button"
               ><i class="fab fa-instagram"></i></a>
  <br><br>
            Linkedin
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #0082ca"
               href="https://www.linkedin.com/company/weddpparels/"
               role="button"
               ><i class="fab fa-linkedin-in"></i
              ></a>

        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >

      <a class="text-white" href="https://weddpparels.in/"
         >This site is made and managed by Technical team of Weddpparels</a>

    </div>
    </div>

<!-- social media buttons-->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

 </footer>

<script>
document.addEventListener("contextmenu", function(e) {
e.preventDefault();
});
</script>

</html>








