<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">

{% load socialaccount %}

<html>
<body>
{% if user.is_authenticated %}
  <h6 class="text-info">Hi! {{ user.username }}</h6> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{% else %}
  <a href="{% provider_login_url 'google'%}?next=/" class="btn btn-outline-dark btn-sm" >
    <img width="16px" style="margin-bottom:3px; margin-right:5px" alt="Google login" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
    Login

  </a> &nbsp;
{% endif %}

<a href="http://weddpparels.com/accounts/logout/" class="btn btn-outline-dark btn-sm">Logout</a>



</body>
<script>
  document.addEventListener("contextmenu", function(e) {
    e.preventDefault();
  });
</script>
</html>
