<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Weddpparels Privacy Policy</title>
</head>
<body>


 <style>
		body {
			background-color: #F8F0E3;
		}
 </style>

<div>

<h1 style="text-colour: maroon; text-align: center;">Weddpparels Privacy Policy</h1>
<hr><br><br>

<h5>

<h2>Summary of our Privacy Policy :</h2>

We will retrieve only your Name, Email Address and Profile Picture to create your account on our website "weddpparels.com". In our opinion Google Login is an easy method for authentication or to create a new account on our website. Your information and profile will only be visible to you or us and not to any other external person/third party until and unless we have your consent on email or call to provide your specific information (Name/Email/Profile Picture) to another customer who wants to connect with you for sell or purchase of products on our website . 

<br><hr>

<h2>What information Weddpparels collects : </h2>

We collect only your Name, Email Address and Profile Picture to create your account on our website "weddpparels.com".

<br><hr>

<h2>Purposes for using information :</h2>

Purpose of collecting your Name, Email Address and Profile Picture is only to create your account and profile on our website so that you can send us sell enquiries, buy enquiries for the products listed/going to be listed on our website “weddpparels.com” . Your profile and account is only visible to you or us. 

<br><hr>

<h2>Who we share your information with :</h2>

Firstly, We will take your consent on email/text or call, after you provide your consent (allow us to share your information) we will only share your Name, Email address and Profile Picture(depending on your consent) with the customers who will send us buy or sell enquiries related to the product/s you have listed for selling or you have sent for buy enquiry on our website. Without your consent, we will not share any information related to you with third parties/external person. 

<br><hr>
<h2>Retention of information : </h2>

We may modify the Privacy Policy at any time, upon notifying you through a service announcement or by sending an email to your primary email address. If we make significant changes to the Privacy Policy that affect your rights, you will be provided with at least 30 days' advance notice of the changes by email to your primary email address. However, if you have not verified your email address, you may miss important notifications that we send through email. If you think that the updated Privacy Policy affects your rights with respect to your use of our products or services, you may terminate your use by sending us an email within 30 days. Your continued use after the effective date of changes to the Privacy Policy will be deemed to be your agreement to the modified Privacy Policy. You will not receive email notification of minor changes to the Privacy Policy.

<br><hr>
</h5>

</div>

</body>
</html>
