.cards-wrapper {
  display: flex;
  justify-content: center;
}
.card img {
    max-width: 100%;
    max-height: 100%;
}


.card {
  margin: 0 0.0em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
  background-color: maroon;
background-image:
repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
background-size: 70px 120px;
}

.card1 {
  margin: 0 0.0em;
  border: none;
  border-radius: 0;
  height: 680px;
  box-shadow: 0 0 8px 0 ;
      background: null;
      backdrop-filter: blur(3px);
}

.card1 img {
    max-width: 100%;
    max-height: 100%;
}

.carousel-inner {
  padding: 0em;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: red;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 800px) {
  .card img {
    height: 20em;
  }


.video-fluid {
  max-width: 100%;
  max-height: 100%;
}










