<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Analyzer</title>
</head>

<body>
<h1>Welcome to Text Analyzer! Please Enter your text here</h1>

<form action = 'analyze' method = 'get'>
    <textarea name = 'text' style="height: 393px; width: 765px;"></textarea> <br> <!--yaha name ka kaam h: jo b text hum webpage p daale, usee text naam k var me vo text send krde-->
    <br>
    <input type="checkbox" name="removepunc"> Remove punctuations <br>
    <br>
    <input type="checkbox" name="fullcaps"> Upper Case <br>
    <br>
    <button type = 'submit'>  Analyze Text  </button> <br>
    <br>
    <button type= 'reset'>   Reset Text    </button> <br>

</form>

</body>

</html>